 /* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(0, 204, 255);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00b7ff;
  color: white;
}

.The_Gallery{
        font-size: 50px;
        font-family: 'Comfortaa', cursive;  
        color: #000000;
        text-align: center;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom  : 120px;  
    }

    .The_Gallery{
        background-color:cornflowerblue;
        overflow:hidden;
        border-radius: 50px;
    }

    .row {
    display: flex;
    
    }

    .column {
    flex: 33.33%;
    padding: 5px;
    
    } 

    .gallery_images{
      border: 6px solid darkblue;
      border-radius: 25px;
    }

    .Ending_Copyright{
        font-family: 'Arvo', serif;
    }
